# yaml-language-server: $schema=https://taskfile.dev/schema.json
# Taskfile for all build tasks
# Learn more: https://taskfile.dev

version: '3'

tasks:
  build:
    desc: Build
    cmds:
      - task: nix:build
